*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-base {
  font-weight: 700;
}

.heading-primary {
  font-size: 7.4rem;
  line-height: 0.9em;
}

.heading-secondary {
  font-size: 4.3rem;
}

.heading-tertiary {
  text-align: center;
  font-size: 3.2rem;
  color: #76a059;
  text-transform: uppercase;
}

.heading-tertiary--white {
  color: white;
}

.heading-base {
  font-size: 2.6rem;
}

.heading-small {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.container {
  width: 80%;
  max-width: 108rem;
  margin: 0 auto;
}

.header {
  height: 8rem;
  display: flex;
}

.nav-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header__logo {
  width: 14.5rem;
}
.nav-header__list {
  border-top: 0.3rem solid #2ea3f2;
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 100%;
  list-style: none;
  transition: max-height 4000ms ease;
  display: none;
}
.nav-header__link {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 1.4rem;
  padding: 1rem 5%;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.03);
  transition: all 200ms ease-in-out;
}
.nav-header__link:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 0.7;
}

.btn {
  border: none;
  font-family: inherit;
  padding: 0.84rem 0 0.84rem 2.5rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.7em;
  color: white;
  background-color: #76a059;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.btn:hover {
  padding-right: 2.8rem;
}
.btn::after {
  content: "";
  background: url("../../assets/caret-circle-right.svg");
  background-size: contain;
  width: 2.8rem;
  height: 3rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 300ms ease;
}
.btn:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.expertise__text {
  margin: 4rem 0 6rem 0;
  text-align: center;
  color: white;
}
.expertise__video {
  margin-bottom: 4rem;
}
.expertise__video-title {
  text-align: center;
  font-size: 2.9rem;
  color: white;
  line-height: 1em;
  padding-top: 1rem;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  border-bottom: 0.1rem solid blueviolet;
}
.hero__content {
  padding: 6rem 0 20rem 0;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.hero__text {
  margin: 5rem 0 3rem 0;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1em;
}
.hero__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
}
.hero__skew {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  transform: scale(-1, 1);
}

.how {
  padding: 10rem 0;
  text-align: center;
}
.how__heading-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.how__steps {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.how__step {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.how__step-icon {
  display: inline-block;
  padding: 1rem 0;
}

.feature {
  text-align: center;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.feature__heading-inner {
  font-size: 3.2rem;
  font-weight: 800;
}
.feature__text {
  font-size: 2.2rem;
  padding: 0 2rem;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__heading {
  line-height: 2.38rem;
  padding-bottom: 2rem;
}
.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-out;
}
.slider__wrapper img {
  width: 33.3333333333%; /* 3 slides visible on larger screens */
}
@media screen and (max-width: 640px) {
  .slider__wrapper img {
    width: 100%; /* 1 slide visible on mobile */
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.slider__button-prev {
  left: 0;
}

.slider__button-next {
  right: 0;
}

.testimonials {
  position: relative;
  padding: 8rem 0 6rem 0;
}
.testimonials__text {
  text-align: center;
  line-height: 1.4em;
  margin-bottom: 5rem;
}
.testimonials__wrapper {
  display: flex;
  align-items: center;
}
.testimonials__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.testimonials__button-prev {
  left: 0;
}
.testimonials__button-next {
  right: 0;
}

.section-slider {
  background-image: radial-gradient(circle at center, #ffffff 0%, #d8d8d8 100%);
  padding: 6rem 5rem;
}

.section-expertise {
  background-image: radial-gradient(circle at center, #394673 0%, #000000 100%);
  padding: 8rem 0;
}

.section-testimonials {
  background-image: radial-gradient(circle at center, #ffffff 0%, #d8d8d8 100%);
}

/*# sourceMappingURL=style.css.map */
