@use "../abstracts" as *;

.section-slider {
  background-image: $radial-gr-grey;
  padding: 6rem 5rem;
}

.section-expertise {
  background-image: $radial-gr-blue;
  padding: 8rem 0;
}

.section-testimonials {
  background-image: $radial-gr-grey;
}
