@use "../abstracts/" as *;

.expertise {
  // padding: 3rem;

  &__text {
    margin: 4rem 0 6rem 0;
    text-align: center;
    color: white;
  }

  &__video-box {
    display: grid;
    gap: 4rem;

    @include respond-to(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__video {
    cursor: pointer;

    &-title {
      text-align: center;
      font-size: $fs-xl-1;
      color: white;
      line-height: 1em;
      padding-top: 1rem;
    }
  }
}
