.slider {
  position: relative;
  overflow: hidden;

  &__heading {
    line-height: 2.38rem;
    padding-bottom: 2rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-out;

    img {
      width: calc(100% / 3); /* 3 slides visible on larger screens */
    }

    @media screen and (max-width: 640px) {
      img {
        width: 100%; /* 1 slide visible on mobile */
      }
    }
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.slider__button-prev {
  left: 0;
}
.slider__button-next {
  right: 0;
}
