.slider {
  overflow: hidden;

  &__container {
    max-width: 95rem !important;
  }

  &__heading {
    line-height: 2.38rem;
    padding-bottom: 2rem;
  }

  &__wrapper {
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    scroll-behavior: smooth;
    height: 13rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 500ms ease-out;
    // gap: 10rem;
    position: relative;

    & > img:not(:last-child) {
      margin-right: 100px;
    }

    & > img {
      width: 222px;
      transition: all 400ms ease-out;
    }
  }
}
