.testimonials {
  // position: relative;
  // overflow: hidden;
  // background-color: rebeccapurple;

  &__text {
    padding-top: 2rem;
    text-align: center;
    line-height: 1.4em;
    margin-bottom: 5rem;
  }

  &__wrapper {
    max-width: 50rem;
    height: 20rem;
    position: relative;
    overflow: hidden;

    & > img {
      position: absolute;
      top: 0;
      height: 20rem;
      width: 100%;
      object-fit: contain;
      transition: all 1000ms ease-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--outer {
      max-width: 50rem;
      margin: 0 auto;
      position: relative;
    }
  }
}
