// Colors and gradients
$color-blue: #2ea3f2;
$color-glacier: #7ebec5;
$color-green: #76a059;
$color-green-hover: rgba(118, 160, 89, 0.76);
$color-grey: #666;
$color-grey-1: #ddd;
$color-grey-2: #d8d8d8;

$radial-gr-blue: radial-gradient(circle at center, #394673 0%, #000000 100%);
$radial-gr-grey: radial-gradient(circle at center, #ffffff 0%, #d8d8d8 100%);

// Font sizes
$fs-smallest: 1.4rem;
$fs-base: 1.6rem;

$fs-medium: 1.8rem;
$fs-medium-1: 1.9rem;
$fs-medium-2: 2rem;

$fs-large: 2.2rem;
$fs-large-1: 2.3rem;
$fs-large-2: 2.4rem;
$fs-large-3: 2.6rem;

$fs-xl: 2.8rem;
$fs-xl-1: 2.9rem;
$fs-xl-2: 3rem;
$fs-xl-3: 3.2rem;

$fs-2xl: 4.3rem;
$fs-3xl: 7.4rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: $fs-large;
  font-weight: 500;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-base {
  font-weight: 700;
}

.heading-primary {
  font-size: $fs-3xl;
  line-height: 0.9em;
}

.heading-secondary {
  font-size: $fs-2xl;
}

.heading-tertiary {
  text-align: center;
  font-size: $fs-xl-3;
  color: $color-green;
  text-transform: uppercase;
}

.heading-tertiary--white {
  color: white;
}

.heading-base {
  font-size: $fs-large-3;
}

.heading-small {
  font-size: $fs-large;
  text-transform: uppercase;
}

.container {
  width: 80%;
  max-width: 108rem;
  margin: 0 auto;
}
